@font-face {
    font-family: 'TBCX';
    src: url('../fonts/TBCXRegular.dee156cc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TBCX';
    src: url('../fonts/TBCXMedium.8ef1248a.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TBCX';
    src: url('../fonts/TBCXBold.6db5e61d.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

:root {
    --black: #222;
    --bllue-black: #141719;
    --grey: #555f62;
    --l-grey: #6f787b;
    --blue: #182cc0;
    --l-blue: #3295ce;
    --ll: #eef1f1;
    --lll: #f9fafa;
}

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'TBCX', sans-serif;
    line-height: 1.7;
    font-size: 16px;
}


/*header*/
.header-placeholder {
    width: 100vw;
    height: 80px;
    position: relative;
}

.header {
    color: var(--black);
    width: 100%;
    height: inherit;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    padding: 0 47px;
    border-bottom: 1px solid #eef1f1;
    transition: all .25s;
}

.header.active {
    background-color: var(--lll);
}

.header-container {
    width: 100%;
    height: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: flex-start;
    position: relative;

}

.header-menu {
    height: 100%;
    display: flex;
    gap: 32px;
    margin: 0 40px;
    flex: 1;
    align-items: center;
}

.header-dropdown{
    height: 100%;
}

.header-dropdown-toggle{
    white-space: nowrap;
    cursor: pointer;
    height: 100%;
    align-items: center;
    padding: 0;
    display: flex;
    position: relative;
}

.header-dropdown .header-dropdown-line{
    height: 2px;
    width: 100%;
    border-radius: 1px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    transform: scaleX(0);
    transition: .6s;
}

.header-dropdown.active .header-dropdown-line{
    transform: scaleX(1);
}

.header-dropdown.active .header-dropdown-list{
    opacity: 1;
    pointer-events: all;
    transition-delay: .6s;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}

.header-logo {
    display: flex;
    align-items: center;
    color: var(--grey);
}

.header-logo.small{
    display: none;
}

.search-button {
    display: flex;
    align-items: center;
    padding: 8px;
    color: var(--grey);
    transition: color .25s ease-in-out;
}

.search-button:hover {
    color: var(--l-blue);
}

.arrow-link {
    grid-column-gap: 6px;
    color: var(--blue);
    text-transform: uppercase;
    flex: none;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    transition: color .25s ease-in-out;
    display: flex;
    cursor: pointer;
}

.arrow-link:hover {
    color: var(--l-blue);
}

.button-icon {
    z-index: 2;
    justify-content: center;
    align-items: center;
    transition: transform .6s ease-in-out;
    display: flex;
    position: relative;
}

.button-text {
    z-index: 2;
    margin-top: 2px;
    transition: transform .6s ease-out;
    position: relative;
}

.lang-toggle{
    display: flex;
    gap:4px;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    font-weight: 700;
    transition: background-color .25s ease-in-out;
    height: 36px;
    cursor: pointer;
    color: var(--grey);
}

.lang-toggle:hover{
    background-color: var(--ll);
}

#hamburger{
    padding: 8px;
    display: none;
    flex-direction: column;
    gap: 5px;
}

#hamburger .up, #hamburger .mid, #hamburger .bot {
    background-color: var(--grey);
    border-radius: 1px;
    height: 2px;
    transition: all .6s;
    transform-style: preserve-3d;
}

#hamburger .up {
    width: 11px;
}

#hamburger .mid {
    width: 20px;
}

#hamburger .bot {
    width: 15px;
}


#hamburger.active .up {
    width: 20px;
    transform-origin: 100% 50%;
    transform: rotate(-45deg);
}

#hamburger.active .mid {
    opacity: 0;
}

#hamburger.active .bot {
    width: 20px;
    transform-origin: 100% 100%;
    transform: rotate(45deg);
}

.header-dropdown-bg{
    position: absolute;
    top: 80px;
    width: 100%;
    min-height: 150px;
    left: 0;
    background-color: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 47px;
    transition: .6s;
    opacity: 0;
    pointer-events: none;
}

.header-dropdown-bg.active{
    opacity: 1;
    pointer-events: all;
}

.header-dropdown-bg  img{
    margin-bottom: 21px;
}

.header-dropdown .header-dropdown-list{
    width: 200px;
    grid-row-gap: 16px;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    transition: all .6s;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.header-dropdown-link{
    z-index: 100;
    color: var(--bllue-black);
    padding-right: 47px;
    font-size: 16px;
    text-decoration: none;
    transition: color .25s;
}

.header-dropdown-link:hover{
    color: var(--blue);
}

.header-overlay{
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .6s;
    background-color: white;
    display: none;
    overflow: scroll;
}

.header-overlay.active{
    pointer-events: all;
    opacity: 1;
}

.header-mobile-dropdown{
    border-bottom: 1px solid #d1d5d6;
    margin-left: 0;
    margin-right: 0;
    padding:  0 45px 32px 45px;
}

.header-mobile-dropdown-toggle{
    width: 100%;
    max-width: 1110px;
    color: var(--bllue-black);
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
}

.header-mobile-dropdown-list{
    width: 100%;
    max-width: 1110px;
    grid-row-gap: 16px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: hidden;
    height: 0;
    transition: all 1s;
}

.header-mobile-dropdown.active .header-mobile-dropdown-list{
    padding-top: 20px;
    height: 134px;
}

.header-mobile-dropdown-link{
    cursor: pointer;
    padding-right: 47px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color .25s ease-in-out;
    color: var(--grey);
}

.header-mobile-dropdown-link:hover{
    color: var(--blue);
}

.pointer{
    transition: all .6s;
}

.header-mobile-dropdown.active .pointer {
    transform: rotate(180deg);
}

.header-menu-mobile-contacts{
    padding: 32px 45px;
}

.header-menu-mobile-contacts .h{
    color: var(--bllue-black);
    font-weight: 700;
    font-size: 24px;
}

.footer_contact-list{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 32px;
    font-style: normal;
    display: flex;
}

.footer_contact-list > a{
    text-decoration: none;
    color: var(--grey);
}

.header-menu-mobile-contacts .social{
    display: flex;
    gap: 15px;
}

.header-menu-mobile-contacts .social > div {
    width: 40px;
    height: 40px;
    background-color: var(--lll);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    display: flex;
    color: var(--grey);
}

.header-menu-mobile-contacts .social > div:hover{
    color: var(--blue);
    background-color: #eee;
}

.header-menu-mobile-bottom{
    padding: 28px 45px;
    color: var(--grey);
    border-top: 1px solid #eef1f1;
    display: flex;
    justify-content: space-between;
}

.bottom-icon-wrap{
    display: flex;
    align-items: center;
    gap: 8px;
}

.bottom-links{
    display: flex;
    gap: 35px;
}

/*footer*/
.footer-container {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;

}




/*responsive*/
@media screen and (max-width: 1440px){
    body{
        font-size: 14px;
    }
}

@media screen and (max-width: 990px) {
    .header {
        padding: 0 45px;
    }

    .header-menu{
        display: none;
    }

    .lang-toggle{
        display: none;
    }

    .header-dropdown-bg{
        display: none !important;
    }

    #hamburger{
        display: flex;
    }

    .header-overlay{
        display: block;
    }

}

@media screen and (max-width: 767px){
    .header-logo {
        display: none;
    }

    .header-logo.small{
        display: flex;
    }
    .header-menu-mobile-bottom{
        flex-direction: column;
    }

    .header-menu-mobile-bottom{
        font-size: 12px;
    }
}

@media screen and (max-width: 479px) {
    .header {
        padding: 0 15px;
    }
    .header-mobile-dropdown{
        padding:  0 15px 32px 15px;
    }

    .header-menu-mobile-contacts .h{
        font-size: 16px;
    }

    .header-mobile-dropdown{
        padding:  0 15px 32px 15px;
    }
    .header-menu-mobile-bottom{
        padding: 28px 15px;
    }
    .header-menu-mobile-contacts{
        padding: 32px 15px;
    }
}